{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" type="text/css" href="{% static 'osw/main.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
	<title>Hers</title>
</head>
<body>
	<section id="main">
		<div class="container">
					<h1>Her's</h1>
					<a href="{% url 'logout' %}">Sign Out</a>
					{% for item in items %}
					<div class="item">
							<img src="{{ item.url }}" alt="{{ item.p_brand}}">	
							<div class="details">
							<h5>id            : {{  item.id }}</h5>
		  					<h5>Name          : {{  item.p_name }}</h5>
		  					<h5>Brand         : {{  item.p_brand }}</h5>
		  					<h5>Price         : {{  item.price }}</h5>
		  					<h5>Discount Price: {{  item.d_price }}</h5>
		  					<h5>Category 1    : {{  item.category1 }}</h5>
		  					<h5>Category 2    : {{  item.category2 }}</h5>
		  					</div>
	  				</div>
	  				{% endfor %}
	  				<h1>Number of items : {{ no_products }}</h1>
	  				<h1>Total Amount : Rs. {{ total_amount }}</h1>
  		</div>
	</section>
</body>
</html>